.card-header{
    color: rgb(14, 147, 94);
    background-color: rgb(215, 212, 199);
    font-weight: bold;
    font-size: 1.5em;
}
.card{
    background-color: rgb(152, 179, 203);
    border-bottom: none;
  }