<div class='card border border-0'>
  <div class='card-header rounded-2'>
    {{pageTitle + ' - ' + product?.productName}}
  </div>
  <div class="card-body"
       *ngIf="product">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4"><span>Name:</span></div>
          <div class="col-md-8">{{product.productName}}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><span>Code:</span></div>
          <div class="col-md-8">{{product.productCode}}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><span>Description:</span></div>
          <div class="col-md-8">{{product.description}}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><span>Availability:</span></div>
          <div class="col-md-8">{{product.releaseDate}}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><span>Price:</span></div>
          <div class="col-md-8">{{product.price}}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><span>5 Star Rating:</span></div>
          <div class="col-md-8">
            <app-star-rating 
              [starRate]="product.starRating">
            </app-star-rating>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <img class="img-fluid rounded-2"
          [src]= product.imageUrl [alt]= product.productName>
      </div>
    </div>
  </div>
  <div class="card-footer rounded-2">
    <button class="btn btn-outline-secondary" (click)="onBack()">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      Back
    </button>
  </div>
</div>