@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css"; 

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 19px
}

.table {
  margin-top: 19px
}

a {
  text-decoration: none; 
}
a:hover {
  text-decoration:underline;
} */
 
body{
    background-color: rgb(152, 179, 203);
}

